.group {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 90%;

  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 800px) {
  .group {
    width: 60%;
  }
}
